*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background: hsl(130deg, 80%, 40%);

    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    display: block;

    width:720px;
    height: 480px;
    box-sizing: border-box;
    padding:30px 50px;

    background: white;

    position: relative;
}
main #title{
    margin-bottom: 20px;

    text-align: center;
    font-size: 36px;
    font-weight: normal;
}
main h2{
    margin-bottom: 10px;

    font-weight: normal;
    font-size: 28px;
}
main #inputSection{
    width: 70%;
    margin-bottom: 10px;

    font-size: 20px;
}
main #guide{
    font-size: 12px;
    opacity: 0.5;
}
main #submitBtn{
    display: block;
    
    width: 180px;
    height: 50px;
    box-sizing: border-box;
    padding: 0px 20px;
    border: none;

    background: hsl(130deg, 80%, 40%);

    font-size: 18px;
    text-align: center;
    line-height: 22px;
    color:white;
    font-family: sans-serif;
    font-weight: 600;

    position: absolute;
    bottom: 40px;
    left: calc(50% - 90px)
}